<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">greenlight</a>
  </div>
</div>

<div class="row-fluid">
  <div class="span3"></div>
  <div class="span6">
  <h1>Projects</h1>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th class="span2">Up-to-date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projects" ng-class="{success: project.returncode == 0, error: (project.returncode != 0 && project.returncode != null) && project.mtime, warning: project.mtime == null || project.returncode == null}">
          <td>
            <a href="#/projects/{{project.id}}">{{project.name}}</a>
          </td>
          <td>
            <spinner ng-show="!project.up_to_date && project.mtime"></spinner>
            <i class="icon-ok" ng-show="project.up_to_date && project.returncode == 0"></i>
            <i class="icon-warning-sign" ng-show="project.up_to_date && project.returncode != 0"></i>
            <i class="icon-question-sign" ng-show="!project.mtime"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span3"></div>
</div>
